
.container 
{  
    height: 500px;
    
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    margin: auto 0;
       
}
.image
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.mail
{
    margin-top: 1.5rem;
    display: flex;
    justify-content:flex-end;
}
.mail a 
{
    color: black;
    font-size: smaller;
    text-decoration-line:none ;
    margin-right: 1rem;
    
}
.button
{
    margin-top: 1rem;
}
.search
{
    
    border: 2px solid black;
    border-radius: 50px;

}
.kisayol button
{
   width: 50px;
   height: 50px;
   border-radius: 50px;
   margin-top: 5px;
}
.kisayol
{
    text-align: center;
    font-size: small;
}
#search
{
    width: 400px;
    height: 30px;
    text-align: center;
    border: none;
}